$header-bg-color : #081120;
$main-bg-color : #ebe9ea;
$logo-bg-color: #1e66dc;
$placeholder-color: #ccc;

$subtable-header-color:#909090;

.header-bg {
    background-color: $header-bg-color;
}

.main-bg {
    background-color: $main-bg-color;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.nounderline-hover:hover,
.nounderline-hover:focus {
    text-decoration: none !important;
}

.form-control::-webkit-input-placeholder {
    color: $placeholder-color;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: $placeholder-color;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: $placeholder-color;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: $placeholder-color;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: $placeholder-color;
}

.subtable thead{
    background-color: $subtable-header-color;
}
.subtable{
    width:100%;
    table-layout:fixed;
    word-wrap:break-word;
    padding:5px;
    overflow-y:auto;
}
.subtable_div{
    height:600px;border:1px solid darkgrey;padding:0px
}

/* Microsoft Edge */