$header-bg-color : #253568;
$main-bg-color : #ebe9ea;
$logo-bg-color: #1e66dc;
$placeholder-color: #ccc;
$text-color-1: #2a396f;
$subtable-header-color:#909090;
$top-header-height: 80px;

.header-bg {
    background-color: $header-bg-color;
}

.main-bg {
    background-color: $main-bg-color;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.text-color-1 {
    color: $text-color-1;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }

    .container.original {
        max-width: 1024px;
    }
}

.nounderline-hover:hover,
.nounderline-hover:focus {
    text-decoration: none !important;
}

.form-control::-webkit-input-placeholder {
    color: $placeholder-color;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: $placeholder-color;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: $placeholder-color;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: $placeholder-color;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: $placeholder-color;
}

.subtable thead {
    background-color: $subtable-header-color;
}

.subtable {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    padding: 5px;
    overflow-y: auto;
}

.subtable_div {
    height: 600px;
    border: 1px solid darkgrey;
    padding: 0px
}

/* Microsoft Edge */

.modal-header {
    background: #3a7de0;
    color: white;

    .close {
        color: white;
    }
}

.btn-green {
    background-color: #00c175;
    border: 0px none;
}

.btn-green:hover {
    background-color: #04DA86;
}

.table>tbody>tr>td.table-expanded-cell {
    background-color: #fbfdff;
    box-shadow: inset 0 2px 0 #f4f4f4;
}

.table-expanded-cell .table {
    background-color: #f2f9ff;
}

.table-expanded-cell .table th {
    color: #333;
}